.card-heading {
    font-size: 1.5rem;
    color: #007BFF;
}
.img-fluid {
    width:100% ;
    height: 250px;
}
.ant-card {
    border: 1px solid #007BFF !important;
}
.cards {
    background-color: white;
}

.none-body {
    width: 0 !important;
    height: 0 !important;
    position: relative;
}


.ant-image-preview-img {
    width: 800px;
}