body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}

.ant-layout-header {
  background-color: white !important;
}

.ant-menu-horizontal {
  background-color:white !important;
}

.ant-menu-horizontal > .ant-menu-item, .ant-menu-horizontal > .ant-menu-submenu {
  font-size: 1.2rem;
  font-weight: 700;
  color: #007BFF!important;
  font-style: italic;
}

html {
  height: 2000px !important;
}

.heading {
  font-size: 3rem;
  text-transform: uppercase;
  color: #007BFF!important;
}

.float-left {
  float: left;
}

.ant-card-bordered {
    border: 2px solid #fff !important;
    border-radius: 10px;
}

.contact-facebook {
  width: 18rem;
  height: 50px;
  position: fixed;
  background-color: rgb(8, 44, 250);
  bottom: 300px;
  justify-content: left;
  left:50px;
  line-height: 50px;
  font-size:1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  z-index: 100;
}

.contact-phone {
  width: 18rem;
  height: 50px;
  position: fixed;
  background-color: rgba(8, 44, 250);
  bottom: 210px;
  justify-content: left;
  left:50px;
  line-height: 50px;
  font-size:1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  z-index: 100;
}


.icon {
  font-size: 3rem;
  margin-right:10px;
  margin-left: 20px;
  border-radius: 50%;
}

@keyframes cycle {
  from {
    border: 1px solid #000;
  } to {
    border:10px solid rgb(219, 28, 28);
  }
}

.spin {
  animation: mySpin 1.5s infinite;
  position: absolute;
}

@keyframes mySpin {
  from {
    transform: rotate(-45deg);
  } to {
    transform: rotate(45deg);
  }
}

